body {
  width: 60%;
  background-color: brown;
  margin-left: 20%;
  margin-right: 20%;
}

.re-body {
  background-color: chartreuse;
  height: 1000px;
}

.profile-pic {
  display: flex;
}

input {
  z-index: 0;
  width: 170px;
  height: 100px;
  padding-top: 70px;
}

input:hover {
  z-index: 1;
  padding-top: 50px;
  padding-left: 10px;
  width: 170px;
  height: 120px;
}

img {
  position: absolute;
  object-fit: cover;
  width: 166px;
  height: 166px;
  border-radius: 165px;
  z-index: 0;


}