* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0000;
  font-family: 'Josefin Sans', sans-serif;
  width: 40%;
  text-align: center;
  margin: auto;
}
.container1{
  background-color: #000;
  z-index: 1;
  padding: 20px;
}


.container {
  background-color: #000;
  z-index: 1;
  width: 400px;
  display: flex;
  padding: 20px;
}

.profile-pic {
  text-align: center;
}

.left-container {
  position: relative;
}

img {
  width: 165px;
  height: 165px;
  border-radius: 100px;
}

.color {
  color: white;
}

.data {
  color: #60e315;
  text-align: center;
  font-weight: 900;
  font-size: xx-large;
  font-stretch: unset;

}

.data1, .about {
  color: white;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
}

/* .contact {
  
} */

.contact1 {
  width: 100%;
  background-color: white;
  color: black;
  margin-top: 30px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  font-weight: bolder;
  font-size: larger;
}

.data2, .data3, .data4, .data5, .git1 {
  color: white;
  padding-top: 15px;
  padding-left: 10px;
}


#data6 {
  color: white;
  padding-top: 15px;
  padding-left: 5px;
  width: 140px;
}

#data7 {
  color: white;
  padding-top: 15px;
  padding-left: 5px;
  width: 140px;
}

#data8 {
  color: white;
  padding-top: 15px;
  padding-left: 5px;
  width: 140px;
}

#data9 {
  color: white;
  padding-top: 15px;
  padding-left: 5px;
  width: 140px;
}

.mail, .git, .location, .linkedin, .phone {
  display: flex;
}

.far, .fas, .fab {
  padding-top: 15px;

  color: #fb683a;
}

.mtr1, .mtr2, .mtr3, .mtr4 {
  display: flex;
  padding-top: 15px;
  align-items: end;
}

.skill {

  width: 100%;
  background-color: white;
  color: black;
  margin-top: 30px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  font-weight: bolder;
  font-size: larger;

}

.skills-container {
  width: 100%;
  height: fit-content;
}

.meter {
  /* background-color: red; */
  width: 100%;

}

#meter1, #meter2, #meter3, #meter4 {
  width: 100%;
  height: 30px;
}

.right-container {
  width: 60%;
  box-shadow: 0px 0px 5px #60e315;
  margin-left: 50px;
  padding: 15px;
}
