body {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background: url("https://c.tenor.com/RqH54jCv970AAAAM/lines.gif");
  background-repeat: no-repeat;
  object-fit: cover;
}

.poster{
margin-left: auto;
margin-right: auto;
display: block;
}
.container{
  margin: auto;
  width: 350px;
  height: 506px;
  position: relative;
}
.profile{
position: absolute;
top: 0;
}
.profile img{
  position: inherit;
  left: 103px;
  top: 66px;
  height: 200px;
  width: 220px;
  border-radius: 9px;
  z-index: 0;
  object-fit: cover;
}
.profile img:hover{
  position: relative;
  left: 103px;
  top: 66px;
  height: 200px;
  width: 220px;
  border-radius: 9px;
  z-index: -1;
}
.profile input{
  display: none;
}


.change label{
  position: absolute;
  background-color: rgb(0, 255, 0);
  right: 45px;
  top: 84px;
  width: 190px;
  height: 150px;
  border-radius: 20px;
   text-align: center;
}
.change:hover{
  z-index: 10000;
}
.input-container{
  
  margin: auto;
}
#data1{
 position: absolute;
 top: 0px;
 color: wheat;
 padding: 8px;
}