*{
  margin: 0;
  padding: 0;
}
.container{
  background-color: chartreuse;
}
.left-container{
  width: 40%;
  height:1000px;
}
.profile-pic{
  position: relative;
  
}
img{
  position: absolute;
  object-fit: cover;
  width: 166px;
  height: 166px;
  border-radius: 165px;
  z-index: 0;
}
